div{
    color:maroon;
    padding:5px;
    margin-left:10px;
    }
ul{
    front-weight:normal;
    letter-spacing:0.5em;
    margin-bottom:1em;
    text-tranform:uppercase;
    }
    
 p     { color:blue;
          font-size:20px;
           padding:5px;
    margin-left:10px;
          
          }
          
       
